@keyframes fadeInOut{
    0% {opacity: 0;}
    30% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes resize-vertical{
    to {height: 0}
}

@keyframes resize-horizontal{
    to {width: 0}
}

@keyframes fadeInUp {
    0% {opacity: 0; transform : translate(0,-10px)}
    100% {opacity: 1; transform : translate(0,0px)}
}

@keyframes rotate {
    0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }
    
    20%, 80% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    
    100% {
      opacity: 0;
      transform: translate3d(0, -25px, 0);
    }
  }