body {
    font: 1.6rem Open Sans Condensed, sans-serif;
    line-height: 1.8;
    color: white;
    text-align: left;
}
  
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}
  
p {
    font: 1.2rem Montserrat, sans-serif;
    line-height: 1.6;
}
  