.a-marginMedium {
    margin: 3rem;
}

.a-paddingMedium {
    padding: 2rem;
}

@media only screen and (max-width: 993px) {
    .a-centerWhenMedium{
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        .row .col {
            float: none;
        }
    }
}

.o-section {
    min-height: 100vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
  
.a-icon {
    font-size: 3rem;
    display: inline-block;
    text-rendering: geometricPrecision !important;
    text-decoration: none;
    border-bottom: none;
    position: relative;
    color: $color-white;
    margin-right: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease-out;

    &:hover {
        font-size: 3.3rem;
        margin-right: 0.7rem;
        margin-top: 0.7rem;
    }
}

.flex {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 0;
}