body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
  text-align: left;
}

p {font-size: 16px;}

.nav {
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  opacity: 0.8
}

.nav:hover {
  opacity: 1;
}

.light-section {
  color: #333;
}

.icon {
  font-size: 30pt;
  text-rendering: geometricPrecision !important;
  text-decoration: none;
  border-bottom: none;
  position: relative;
  color: white;
}

.card {
  color: #333;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transition: transform .3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  min-height: 450px;
  min-width: 300px;
}

.card:hover {
  transform: translate(0, -10px);
}

.carousel {
  overflow: inherit !important;
  top: -100px;
  margin-bottom: 100px;
}