
.splash {
    position: fixed;
    color: white;
    text-align: center;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  .splash .text-wrapper {
    margin-top: 45vh;
  }

  .splash .text-wrapper h1 {
    font-size: 2rem;
  }
  
  .fade-in-out {
    opacity: 0;
    animation: fadeInOut 3s ease-in forwards;
  }
  
  .splash-screen {
    position: fixed;
    background-color: tomato;
    right: 0;
    width: 100vw;
  }
  
  .splash-top {
    top: 0;
    height: 49.8vh;
  }
  
  .splash-center {
    top: 0;
    height: 100vh;
  }
  
  .splash-bottom {
    bottom: 0;
    height: 49.8vh;
  }
  
  .splash-top.resize-vertical,
  .splash-bottom.resize-vertical {
    animation: resize-vertical 0.5s ease-out forwards;
  }
  
  .splash-center.resize-horizontal {
    animation: resize-horizontal 0.2s ease-out forwards;
  }
  
  .splash.display-none {
    z-index: -10;
    opacity: 0;
  }