<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a href="#hero-section" class="btn-floating tooltipped {{ .Site.Params.colors.navbar_color }}" data-position="left" data-tooltip="Home"><i class="material-icons">perm_identity</i></a></li>
    <!-- <li><a href="#experience-section" class="btn-floating tooltipped {{ .Site.Params.colors.navbar_color }}" data-position="left" data-tooltip="Experience"><i class="material-icons">work</i></a></li> -->
    <!-- <li><a href="#projects-section" class="btn-floating tooltipped {{ .Site.Params.colors.navbar_color }}" data-position="left" data-tooltip="Education"><i class="material-icons">school</i></a></li> -->
    <li><a href="#projects-section" class="btn-floating tooltipped {{ .Site.Params.colors.navbar_color }}" data-position="left" data-tooltip="Projects"><i class="material-icons">collections</i></a></li>
    <li><a href="#contact-section" class="btn-floating tooltipped {{ .Site.Params.colors.navbar_color }}" data-position="left" data-tooltip="Contacts"><i class="material-icons">contacts</i></a></li>
  </ul>
</div>
