<head>
    {{with .Site.Title}}<title>{{.}}</title>{{end}}
    {{with .Site.Params.description}}<meta name="description" content="{{.}}">{{end}}
    {{ with .Site.Params.author }}<meta name="author" content="{{.}}">{{end}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    {{partial "scripts" . }}
    {{ with .Site.Params.favicon }}<link rel="shortcut icon" href="/{{.}}">{{ end }}

    <!-- Style sheets -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="css/timeline.css">

    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/splash-screen.css">
    <link rel="stylesheet" href="css/main.css">
</head>
