<head>
    {{with .Site.Title}}<title>{{.}}</title>{{end}}
    {{with .Site.Params.description}}<meta name="description" content="{{.}}">{{end}}
    {{ with .Site.Params.author }}<meta name="author" content="{{.}}">{{end}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    {{partial "scripts" . }}
    {{ with .Site.Params.favicon }}<link rel="shortcut icon" href="/{{.}}">{{ end }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {{ $templateStyle := resources.Get "css/colors-template.css" }}
    {{ $style := $templateStyle | resources.ExecuteAsTemplate "css/color.css" . }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
    <link rel="stylesheet" type="text/css" href="css/timeline.css">

    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/main.css">

    {{ with .Site.Params.favicon }}<link rel="shortcut icon" href="/{{.}}">{{ end }}
</head>
