<div id="projects-section" class="valign-wrapper container-fluid section scrollspy {{ .Site.Params.colors.main_color }}">
  <div class="container">
    <h1>Projects</h1>
    <div class="carousel">
      {{ range .Site.Data.homepage.projects }}
      <div class="carousel-item modal-trigger" href="#modal_{{ .slug }}">
        <div class="card">
          <div class="card-image">
            <img src="img/projects/placeholder.png">
            <span class="card-title">{{ .title }}</span>
          </div>
          <div class="card-content">
            <p>{{ .description }}</p>
          </div>
        </div>
      </div>

      <!-- Modal Structure -->
      <div id="#modal_{{ .slug }}" class="modal">
        <div class="modal-content">
          <h4>{{ .title }}</h4>
          <p>{{ .description }}</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>