<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    console.log("sadsafa")
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var options = {
        scrollOffset: 50,
        activeClass: "active"
        }
        var elems = document.querySelectorAll('.scrollspy');
        var instances = M.ScrollSpy.init(elems, options);
    });
    
    // function(id) {
    //   return 'a[href="#' + id + '"]';
    // }
</script>