<script type="text/javascript" src="js/materialize.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Navbar JS
        var navbar_options = {}
        var navbar_elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(navbar_elems, navbar_options);

        // Tooltip JS
        var tooltip_options = {
            enterDelay: 50,
            inDuration: 400
        }
        var tooltip_elems = document.querySelectorAll('.tooltipped');
        var instances = M.Tooltip.init(tooltip_elems, tooltip_options);

        // Scrollspy JS
        var scroll_options = {
            scrollOffset: 50,
            activeClass: "active"
        }
        var scroll_elems = document.querySelectorAll('.scrollspy');
        var instances = M.ScrollSpy.init(scroll_elems, scroll_options);
    });
</script>